In [2]:
# Nima Shafie   2/26/23
# https://www.kaggle.com/competitions/titanic/overview

### Titanic - Machine Learning from Disaster
<img src="images/kaggle-title-logo.png"/>
Question to Solve: <br />
“what sorts of people were more likely to survive?” using passenger data (ie name, age, gender, socio-economic class, etc) <br />
----------------------------------------------------------------------------

In [3]:
# imports
import numpy as np
import pandas as pd
import os, sys, time
from datetime import datetime
from matplotlib import pyplot as plt
from sklearn import svm
from sklearn.model_selection import cross_val_score, cross_validate, train_test_split, KFold
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import seaborn as sns

In [4]:
# path to training set
path_to_training_set = 'data_set/train.csv'

# open training data file
df = pd.read_csv(path_to_training_set)

# prints out a snapshot of the data frame before transforming
display(df)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Identify the target (which is column "survived" meaning if the target survived the titanic shipwreck)

Split the data into training/testing <br />
80% training, 20% testing

In [6]:
# create X and y based on input/output
X = df
X = X.drop(columns="Survived")
y = df["Survived"]

# creating training/testing variables and setting the testing data size to 20%
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size = 0.2, random_state = 42)

KeyError: "['survived'] not found in axis"

In [ ]:
# we'll use linear SVM classification as our model technique to solve this problem
# we will first standardize the data set, then run SVM on it
penalty = 10
svm_clf = svm.SVC(kernel="linear", C=penalty)
svm_clf = make_pipeline(StandardScaler(), svm.SVC(kernel="linear", C=penalty))
svm_clf.fit(train_X, train_y.values.ravel())

In [ ]:
# printing out our model score (accuracy)

pred_y = svm_clf.predict(test_X)
print(pred_y)
print("What is the model accuracy score: %f" %svm_clf.score(test_X, test_y))